head {
    color: #696969;
}

body {
    background-color: lightcyan;
    color: #696969;
    font-family: 'Quicksand', sans-serif;
}

#countries, #month {
     width: 175px;  
     margin-left: 15px;
}

#shout {
     margin-left: 15px;
}

h1, h2 {
    font-family: 'Quicksand', sans-serif;
    text-align: center;
}

footer {
    background-color:lightslategrey;
    color: lightcyan;
    text-align: right;
    padding-right: 5px;
    font-weight: bolder;

}

.card {
     width: 300px;
 
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

#holiday-list {
      text-align: center;
}

#shout2 {
     padding: 20px; 
     text-align: center;
}

#shout1 {
      text-align: center;
}

.holiday-list {
    font-family: 'Quicksand', sans-serif; 
    font-weight: bold;
}

.recipe-title {
    font-family: 'Quicksand', sans-serif; 
    color: darkcyan;
    text-align: center;
    font-size: medium;
    font-weight: bold;
    padding: 5px;
}

.recipe-box {
      box-sizing: border-box;
      align-content: center;
      display: block;
      margin-left: auto;
      margin-right: auto;
}

.card-divider {
    background-color: lightslategrey;
    color: lightcyan;
}
 
h5 {
    font-family: 'Quicksand', sans-serif;
}

.card-section {
    background-color: darkcyan;
    width: 100%;
    height: 250px;
    align-content: center;
    margin-right: auto;
    margin-left: auto;
}

.rstInfo {
 font-weight: bolder;
}

.rstCard {
    width: 250px;
}

#restaurant-list {
    text-align: center;
}

