/**************************************************************************************************  
GENERAL STYLES & FONTS
**************************************************************************************************/
head {
    color: #696969;
}

body {
    background-color: lightcyan;
    color: #696969;
    font-family: 'Quicksand', sans-serif;
    max-width: 1400px;
    margin: auto;
}

#shout1 {
    text-align: center;
}

#shout2 {
    padding: 20px; 
    text-align: center;
}

#shout2 > p {
    max-width: 75ch;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#countries, #month {
    width: 175px;  
    margin-left: 15px;
    padding-top: 4px;
}

h1, h2 {
    font-family: 'Quicksand', sans-serif;
    text-align: center;
}

footer {
    background-color:lightslategrey;
    color: lightcyan;
    text-align: right;
    padding-right: 10px;
    font-weight: bold;
    font-style: italic;
    width: 100%;
    margin-top: 50px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

#first-photo > img {
    height:350px;
    width:700px;
}

#first-photo {
    background-color: goldenrod;
    width: 100%;
}

.instruction-styling {
    text-align: center;
    font-style: italic;
}

.hide {
    display: none;
}

/**************************************************************************************************  
MAP
**************************************************************************************************/
#map {
    height: 200px;
    width: 75%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

/**************************************************************************************************  
HOLIDAYS
**************************************************************************************************/
#holiday-list {
    text-align: center;
    border: double;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.holiday-list-item {
    font-family: 'Quicksand', sans-serif; 
}

.holiday-list-item:hover {
    font-weight: bolder;
    cursor: pointer;
}

#messageDiv {
    text-align: center;
}

.chosen {
    background-image: linear-gradient(goldenrod, darkcyan);
    color: white;
}

#searchBtn {
    margin-top: 15px;
}

.nextBtn {
    margin-left: 5px;
}

/**************************************************************************************************  
RECIPES
**************************************************************************************************/
.card {
    width: 300px;
}

.card > img:hover {
    opacity: 60%;
    cursor: pointer;
}

.recipe-box {
    box-sizing: border-box;
    align-content: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.recipe-title {
    font-family: 'Quicksand', sans-serif; 
    color: darkcyan;
    text-align: center;
    font-size: medium;
    font-weight: bold;
    padding: 5px;
}

#recipe > img {
    width: 100px
}

#recipe {
    text-align: center;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 20px;
}

#recipe > p {
    margin-top: 10px;
    max-width: 75ch;
    margin-left:auto;
    margin-right:auto;
}

/**************************************************************************************************  
CITY SEARCH FOR RESTAURANTS
**************************************************************************************************/
.cityBtn, #citySearchBtn {
    margin-left: 5px;
}

#cityInput {
    padding-right: 10px;
    width: 175px;
}

#cityMessage {
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}


/**************************************************************************************************  
RESTAURANTS
**************************************************************************************************/
#restaurantBtn {
    margin-left: 5px;
}

#rstBackBtn {
    margin-top: 20px;
}

.card-divider {
    background-color: goldenrod;
    color: darkcyan;
    text-align: center;
}

h5 {
    font-family: 'Quicksand', sans-serif;
}

.card-section {
    background-color: lightgrey;
    width: 100%;
    height: 250px;
    align-content: center;
    margin-right: auto;
    margin-left: auto;
}

.rstInfo {
    font-weight: bolder;
}

.rstCard {
    width: 250px;
}

.rstCard:hover {
    opacity: 60%;
    cursor: pointer;
}

.rstImage {
    max-height: 200px;
    margin-top: 20px;
}

#restaurant-list {
    text-align: center;
}
